<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <form class="login100-form validate-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <span class="login100-form-title p-b-49">
                    Sign Up
                </span>

                <div class="wrap-input100 validate-input m-b-23 form-group" data-validate="First name is required">
                    <span class="label-input100">First Name</span>
                    <input class="input100 form-control" type="text" formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
                        placeholder="Type your first name">
                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">First name is required</div>
                    </div>
                </div>

                <div class="wrap-input100 validate-input m-b-23 form-group" data-validate="Last name is required">
                    <span class="label-input100">Last Name</span>
                    <input class="input100 form-control" type="text" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
                        placeholder="Type your last name">
                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">Last name is required</div>
                    </div>
                </div>

                <div class="wrap-input100 validate-input m-b-23 form-group" data-validate="Username is reauired">
                    <span class="label-input100">Username</span>
                    <input class="input100 form-control" type="text" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
                        placeholder="Type your username">
                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                        <div *ngIf="f.username.errors.minlength">Username must be at least 3 characters</div>
                    </div>
                </div>

                <div class="wrap-input100 validate-input m-b-23 form-group" data-validate="Email is reauired">
                    <span class="label-input100">Email</span>
                    <input class="input100 form-control" type="text" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                        placeholder="Type your email">
                    <span class="focus-input100" data-symbol="&#9993;"></span>
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Invalid email</div>
                    </div>
                </div>

                <div class="wrap-input100 validate-input form-group" data-validate="Password is required">
                    <span class="label-input100">Password</span>
                    <input class="input100 form-control" type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                        placeholder="Type your password">
                    <span class="focus-input100" data-symbol="&#xf190;"></span>
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>

                <div class="wrap-input100 validate-input form-group" data-validate="Confirm password is required">
                    <span class="label-input100">Retype Password</span>
                    <input class="input100 form-control" type="password" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
                        placeholder="Retype your password">
                    <span class="focus-input100" data-symbol="&#xf190;"></span>
                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors?.Match">Password not match</div>
                    </div>
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn form-group">
                        <div class="login100-form-bgbtn"></div>
                        <button [hidden]="loading" class="login100-form-btn">
                            Sign Up
                        </button>
                    </div>
                    <img *ngIf="loading" align="center" src="src/assests/images/loading.gif" />
                </div>

                <div class="txt1 text-center p-t-54 p-b-20">
                    <span>
                        Or Sign Up Using
                    </span>
                </div>

                <div class="flex-c-m">
                    <a href="#" class="login100-social-item bg1">
                        <i class="fa fa-github"></i>
                    </a>

                    <a href="#" class="login100-social-item bg2">
                        <i class="fa fa-linkedin"></i>
                    </a>

                    <a href="#" class="login100-social-item bg3">
                        <i class="fa fa-google"></i>
                    </a>
                </div>

                <div class="flex-col-c">
                    <hr>
                    <span class="txt1 p-b-17">
                        Already have an account?
                    </span>

                    <a [routerLink]="['/login']" class="txt2">
                        Login
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>